#check discord server for each key and value pair [#updates channel]
NEXT_PUBLIC_SUPABASE_URL=https://vwatkjovgcqnocskyyhf.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3YXRram92Z2Nxbm9jc2t5eWhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNzM2MTgsImV4cCI6MjA5MTY0OTYxOH0.NszHTWFJcvFVTAdmMYNWq8BcbV219jgTX7Lh4PlwKIU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3YXRram92Z2Nxbm9jc2t5eWhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjA3MzYxOCwiZXhwIjoyMDkxNjQ5NjE4fQ.Ch79t0xUl2GOgloRQxgerN8sJQMHJrSOfZLc1Kv_gE4
GOOGLE_GEMINI_API_KEY=AIzaSyC7P1VISgspYMREHkPvlYtIwpN9nz9lGak
