#check discord server for each key and value pair [#updates channel]
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_GEMINI_API_KEY=

# SMTP Settings for Email Notification
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=password
SMTP_FROM_NAME=Qios
SMTP_FROM_EMAIL=user@example.com
SMTP_FROM="Qios <user@example.com>"
